#container{
  height: 50vh;
  width: 50vw;
  border: 1px solid black;
  margin: auto;
}

#mainfont1{
  font-style: italic;
  color: crimson;
  text-align: center;
}

#mainfont2{
  font-style: italic;
  color: crimson;
  text-align: center;
}

#table, td,th, tr{
  height: 10vh;
  width: 60vw;
  text-align: center;
  border: 1px solid black;
  /* margin: auto; */
}

#submit{
  height: 4vh;
  width: 8vw;
  margin-left: 200px;
  background-color: blue;
  border: 2px solid black;
}
#header{
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blue;
  text-align: center;
}

#dashboard1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blue;
  text-align: center;
}
table, td,th, tr{
  height: 10vh;
  width: 60vw;
  text-align: center;
  border: 1px solid black;
  /* margin: auto; */
}

#submit{
  height: 4vh;
  width: 8vw;
  margin-left: 50px;
  background-color: blue;
  border: 2px solid black;
}

#header{
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blue;
  text-align: center;
}

#dashboard2{
  height: 4vh;
  width: 10vw;
  color: white;
  border: 1px solid black;
  background-color: blue;
}

#signup2{
  height: 4vh;
  width: 10vw;
  color: white;
  border: 1px solid black;
  background-color: crimson;
}